.card-header{
    align-items: center;
    display: flex;
  }
  .card-header span{
    width: 85%;
  }
  .card-header i {
    cursor: pointer;
    font-size: 20px;
    text-align: right;
    width: 15%;
  }
  .teste{
    display: flex;
  }